<div class="page-container pt-5">  
    <div class="container p-3 home-container">
      <h1 class="heading"[translate]="'appHome.home.head'"></h1>
      <div class="mt-2 right">                
                <input name="typeOfScoreCard" id="or" type="radio" value ="or" [(ngModel)]="mode">
                <label class="or-label" for="or" [translate]="'appHome.home.or'"></label>
                <input name="typeOfScoreCard" id="and" type="radio" value="and" [(ngModel)]="mode">
                <label class="mr-3" for="and" [translate]="'appHome.home.and'"></label>
            </div>
       <div class="col-md-3 mb-3 right">
          <select class="col-md-12" [(ngModel)]="questionFormModel.fieldType" (ngModelChange)="changeScorecardSubFields()" name="scorecardDataType">
          
              <option *ngFor="let fieldType of scorecardFields" [value]="fieldType.value">{{fieldType.label}}</option>
          </select>
      </div>
      <div class="filter-details clear">
        <h1 class="raw-process-head" *ngIf="rawUsage" [translate]="'appHome.home.rawHead'"></h1>
         <h1 class="raw-process-head"  *ngIf="processed" [translate]="'appHome.home.processHead'"></h1>
         <div class="col-md-8 mb-3 field-filter" style="display:inline-block;">
          <!-- <label class="mb-2" for="scorecardField" [translate]="'appConfigureScorecard.configureScorecardCreate.questions.field'"></label><br> -->
          <select [disabled]="mode=='edit'" #scorecardSubField class="col-md-4" [(ngModel)]="questionFormModel.fieldLabel" (ngModelChange)="onChangeScorecardSubField(scorecardSubField)" name="scorecardField">
       
              <option *ngFor="let field of scorecardSubFields"  [value]="field.fieldLabel" [attr.data-label]="field.fieldLabel" [attr.data-value]="field.fieldName"  [attr.data-data-type]="field.fieldType">{{field.fieldLabel}}</option>
          </select>
           <button class="btn btn-primary ml-3" (click)="addNewQuestion()" [translate]="'appHome.home.addField'"></button>
           <div class="col align-self-center add text-left">
         <!--  <ng-container>
             
              <button class="btn btn-primary btn-primary-outline" (click)="resetQuestion()" [translate]="'appConfigureScorecard.configureScorecardCreate.cancel'"></button>
          </ng-container>       -->  
        </div>
      </div>
       <div class="col-md-12" style="margin-left: 20px;"  *ngIf="rawUsageIdentifier">
            <tag-input class="raw-tag col-md-6" [(ngModel)]="items"
                       [modelAsStrings]="true"
                       [editable]="true"
                       [addOnBlur]="true"
                       [validators]="validators"
                       [errorMessages]="errorMessages"
                       [placeholder]="primaryPlaceholder"
                       [secondaryPlaceholder]="secondaryPlaceholder"
                       >
            </tag-input>
             <button class="col-md-2 btn btn-primary use-template tag" [disabled]="items.length==0" (click)="fetchTableDetailsIdentifier(questionFormModel.fieldType,questionFormModel.fieldName,items)" [translate]="'appHome.home.addValue'"></button>
             <p class="selected" *ngIf ="alreadySelectedIdenti">Already Added this field</p>
        </div> 
    <div class="col-md-12" style="margin-left: 20px;" *ngIf="channelInput">
     <tag-input class="raw-tag col-md-6" [(ngModel)]="channelItems" (ngModelChange)="channelChange(channelItems,channelFinalArray)"
                       [modelAsStrings]="true"
                       [placeholder]="channelPrimaryPlaceholder"
                       [secondaryPlaceholder]="channelSecondaryPlaceholder"
                       [onlyFromAutocomplete]="true">
                <tag-input-dropdown [showDropdownIfEmpty]="true"
                                    [focusFirstElement]="true"
                                    [autocompleteItems]="channelFinalArray">
                    <ng-template let-item="item" let-index="index">
                       {{ item.value }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
        <button class="btn btn-primary use-template" [disabled]="channelItems.length ==0 " (click)="fetchTableDetailsChannel(questionFormModel.fieldType,questionFormModel.fieldName,channelItems)" [translate]="'appHome.home.addValue'">
          <!-- <img width="20" height = "20" src="./../../../assets/img/add-icon-2.jpg"> -->
        </button>
        <p class="selected" *ngIf ="alreadySelectedChannel">Already Added this field</p>

    </div>
    <div class="col-md-12" style="margin-left: 20px;" *ngIf="productInput">
      <tag-input class="raw-tag col-md-6" [(ngModel)]="productItems" (ngModelChange)="productChange(productItems,productFinalArray)"
                       [modelAsStrings]="true"
                       [placeholder]="productPrimaryPlaceholder"
                       [secondaryPlaceholder]="productSecondaryPlaceholder"
                       [onlyFromAutocomplete]="true">
        <tag-input-dropdown [showDropdownIfEmpty]="true"
                            [focusFirstElement]="true"
                            [autocompleteItems]="productFinalArray">
          <ng-template let-item="item" let-index="index">
                       {{ item.value }}
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
      <!--   <select class="col-md-4" [(ngModel)]="productField" name="scorecardDataType">
            <option value="0">-- {{"appConfigureScorecard.configureScorecardCreate.selectTemplate" | translate}} --</option>
             <option *ngFor="let product of productArray">{{product}}</option>
          </select> -->
        <button class="btn btn-primary use-template" [disabled]="productItems.length ==0" (click)="fetchTableDetailsProduct(questionFormModel.fieldType,questionFormModel.fieldName,productItems)" [translate]="'appHome.home.addValue'"></button>
        <p class="selected" *ngIf ="alreadySelectedProduct">Already Added this field</p>
    </div>
    <div class="col-md-12" style="margin-left: 20px;" *ngIf="statusInput">
      <tag-input class="raw-tag col-md-6" [(ngModel)]="statusItems" (ngModelChange)="statusChange(statusItems,statusFinalArray)"
                       [modelAsStrings]="true"
                       [placeholder]="statusPrimaryPlaceholder"
                       [secondaryPlaceholder]="statusSecondaryPlaceholder"
                       [onlyFromAutocomplete]="true">
        <tag-input-dropdown [showDropdownIfEmpty]="true"
                            [focusFirstElement]="true"
                            [autocompleteItems]="statusFinalArray">
          <ng-template let-item="item" let-index="index">
                       {{ item.value }}
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
       <!--  <select class="col-md-4" [(ngModel)]="statusField" name="scorecardDataType">  
          <option value="0">-- {{"appConfigureScorecard.configureScorecardCreate.selectTemplate" | translate}} --</option>
         <option *ngFor="let usage of statusArray">{{usage}}</option>
          </select> -->
        <button class="btn btn-primary use-template" [disabled]="statusItems.length ==0" (click)="fetchTableDetailsStatus(questionFormModel.fieldType,questionFormModel.fieldName,statusItems)" [translate]="'appHome.home.addValue'"></button>
         <p class="selected" *ngIf ="alreadySelectedStatus">Already Added this field</p>
    </div>
    <div class="col-md-12" style="margin-left: 20px;" *ngIf="subscribeInput">
       <!-- <label class="mb-2  filter-lbl" for="scorecardQuestionLabel" [translate]="'appConfigureScorecard.configureScorecardCreate.label'"></label> -->
        <tag-input class="raw-tag col-md-6" [(ngModel)]="subscribeItems"
                       [modelAsStrings]="true"
                       [editable]="true"
                       [addOnBlur]="true"
                       [validators]="validators"
                       [errorMessages]="errorMessages"
                       [placeholder]="subscribePrimaryPlaceholder"
                       [secondaryPlaceholder]="subscribeSecondaryPlaceholder"
                       >
        </tag-input>
       <!--  <input class="form-control number-ipt col-md-4 mb-2" [(ngModel)]="searchNum" name="scorecardQuestionLabel" type="number" required> -->
        <button class="btn btn-primary use-template" [disabled]="subscribeItems.length==0" (click)="fetchTableDetailsNum(questionFormModel.fieldType,questionFormModel.fieldName,subscribeItems)" [translate]="'appHome.home.addValue'"></button>
         <p class="selected" *ngIf ="alreadySelectedNum">Already Added this field</p>
    </div>
    <div class="col-md-12" style="margin-left: 20px;" *ngIf="userInput">
       <!-- <label class="mb-2  filter-lbl" for="scorecardQuestionLabel" [translate]="'appConfigureScorecard.configureScorecardCreate.label'"></label> -->
        <tag-input class="raw-tag col-md-6" [(ngModel)]="userItems"
                       [modelAsStrings]="true"
                       [editable]="true"
                       [addOnBlur]="true"
                       [validators]="userIdvalidators"
                       [errorMessages]="usererrorMessages"
                       [placeholder]="userPrimaryPlaceholder"
                       [secondaryPlaceholder]="userSecondaryPlaceholder"
                       >
        </tag-input>

       <!--  <input class="form-control number-ipt col-md-4 mb-2" [(ngModel)]="searchNum" name="scorecardQuestionLabel" type="number" required> -->
        <button class="btn btn-primary use-template" [disabled]="userItems.length==0" (click)="fetchTableDetailsNum(questionFormModel.fieldType,questionFormModel.fieldName,userItems)" [translate]="'appHome.home.addValue'"></button>
         <p class="selected" *ngIf ="alreadySelectedNum">Already Added this field</p>
    </div>
     <div class="col-md-8 mb-3" style="display:inline-block;" *ngIf="alphaInput">
      <!--  <label class="mb-2 filter-lbl" for="scorecardQuestionLabel" [translate]="'appConfigureScorecard.configureScorecardCreate.label'"></label> -->
        <input class="col-md-4 form-control number-ipt mb-2" [(ngModel)]="searchText" name="scorecardQuestionLabel" type="text" required>
        <button class="btn btn-primary use-template" [disabled]="!searchText" (click)="fetchTableDetailsText(questionFormModel.fieldType,questionFormModel.fieldName,searchText)" [translate]="'appHome.home.addValue'"></button>
        <p class="selected" *ngIf ="alreadySelectedText">Already Added this field</p>
    </div>
    <form class="form-inline date-picker" style="display:inline-block;width:54%;" *ngIf="dateInput">
        <label class="label-from-time" [translate]="'appHome.home.fromDateTime'"></label>
        <div class="input-group mt-2" style="display:inline-flex;">
            <input class="form-control angular-mydatepicker" name="dateFrom"
                    angular-mydatepicker #dpFrom="angular-mydatepicker" 
                    [(ngModel)]="dateFieldFrom" [options]="startDate" [locale]="defaultLang" (dateChanged)="onStartDateChanged(dateFieldFrom)" required/>
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dpFrom.toggleCalendar()">
                <i class="fa-calendar-alt far"></i>
                </button>
            </div>
            <div class="invalid-feedback" [translate]="'appConfigureScorecard.configureScorecardCreate.questions.ptsForQuestion.error.requiredFromDate'"></div>
        </div>
        <ngb-timepicker class="time-picker-from" [(ngModel)]="fromTime" [spinners]="false" [seconds]="true" name="timeFrom"></ngb-timepicker>
        <!-- <button style="display:none;"class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
            Seconds - {{seconds ? "ON" : "OFF"}}
        </button> -->
        <label class="label-to-time" [translate]="'appHome.home.toDateTime'"></label>
         <div class="input-group mt-2" style="display:inline-flex;">
            <input class="form-control angular-mydatepicker"  name="dateTo"
                    angular-mydatepicker #dpTo="angular-mydatepicker" 
                    [(ngModel)]="dateFieldTo" [options]="endDate" [locale]="defaultLang" (dateChanged)="onEndDateChanged(dateFieldTo)" required/>
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dpTo.toggleCalendar()">
                <i class="fa-calendar-alt far"></i>
                </button>
            </div>
            <div class="invalid-feedback" [translate]="'appConfigureScorecard.configureScorecardCreate.questions.ptsForQuestion.error.requiredToDate'"></div>
            <div class="invalid-feedback" [translate]="'appConfigureScorecard.configureScorecardCreate.questions.ptsForQuestion.error.requiredGreaterDate'"></div>
        </div>
         <ngb-timepicker class="time-picker-from" [(ngModel)]="toTime" [spinners]="false" [seconds]="true" name="timeTo"></ngb-timepicker>
        <!-- <button style="display:none;"class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
            Seconds - {{seconds ? "ON" : "OFF"}}
        </button> -->
      <p class="invalid-date-range" *ngIf="invalidRange" [translate]="'appHome.home.invalidDateRange'"></p>
      <button  class="btn btn-primary time-date-btn use-template" [disabled]="dateFieldTo==null &&dateFieldFrom==null" (click)="fetchTableDetailsFromTo(questionFormModel.fieldType,questionFormModel.fieldName,dateFieldTo,dateFieldFrom,fromTime,toTime)"  [translate]="'appHome.home.addValue'"></button>
      <p class="selected" *ngIf ="alreadySelectedDate">Already Added this field</p>
    </form>

    </div>
    <div class="filter-details-add" *ngIf="itemsAsObjects.length!=0">
      <h1 class="criteria" [translate]="'appHome.home.criteria'"></h1>
            <tag-input #input class="added-item" [(ngModel)]="itemsAsObjects"
                      [maxItems]="itemsAsObjects.length"
                       [editable]="true"
                       [identifyBy]="'fieldName'"
                       [displayBy]="'listValue'">
            <ng-template let-item="item" let-index="index">
                    <span (click)="input.removeItem(item, index)" class="ng2-tag__remove-button">
                        <img src="./../../../assets/img/close-table.png" style="float:right;" width="22">
                    </span>
                    <span> {{ item.fieldName }}: {{ item.listValue }}</span>
                    
                </ng-template>
                      </tag-input>
         
          <div>
            <button class="down-btn btn btn-primary use-template"  [translate]="'appHome.home.view'"(click)="downloadUsageInfo(questionFormModel.fieldType,itemsAsObjects)"><span class="down-file">Télécharger</span></button>
           <!-- <img class="download"  src="./../../../assets/img/file-download-icon.png"  (click)="downloadUsageInfo(questionFormModel.fieldType,itemsAsObjects)"> -->
          <button class="btn btn-primary use-template" disabled  [translate]="'appHome.home.view'"></button>
          <app-my-loader></app-my-loader>

           <!-- <button class="btn btn-primary use-template" [disabled]="itemsAsObjects.length==0" (click)="downloadUsageInfo(questionFormModel.fieldType,itemsAsObjects)"  [translate]="fetchingTemplateInProgress ? 'processing' : 'appCommon.header.search'"></button> -->
        </div>
           <!-- <img *ngIf="showLoading" width="40" style="margin-left: 39px;" src="./../../../assets/img/blue_loading.gif"> -->

          <div class="modal-container"></div>

<!-- start of filter and table  -->
  <!-- <div class="filter-table-details" *ngIf="showFilterBlock"> -->
    


<!-- 
    <hr/>
    <pre>From date model: {{ fromDate | json }}</pre>
    <pre>To date model: {{ toDate | json }}</pre> -->
        
    <!-- Table after filtering -->
    <!-- table class="table table-striped table-data" *ngIf="displayTable">
              <thead>
              <tr>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let country of tableDetail">
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                  {{ country.name }}
                </td>
                <td>{{ country.area | number}}</td>
                <td>{{ country.population | number }}</td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2" *ngIf="displayTable">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged($event)">
              </ngb-pagination>

              <select class="custom-select select-number-page" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
            </div> -->
          <!-- </div>end of filter and table -->
    </div>
</div>
