<!-- my-loader.component.html -->
<!-- <div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
        <img  width="40" src="./../../../assets/img/waiting.gif">
        <span class="loading-message">S'il vous plaît, attendez...</span>
    </div>
</div> -->
<!-- <div class="modal-container" [hidden]="!loading">
 </div> -->
 <!-- <div class="spinner_container"><mat-spinner *ngIf="show"></mat-spinner></div> -->
<ngx-spinner   template="<img src='./../../../assets/img/waiting.gif' />" 
></ngx-spinner>
