.read-more-link{
    color: #25cbd3 !important;
    text-decoration: underline !important;
    font-size: 13px;
    cursor:pointer;
    margin-top: 7px;
    display: inline-block;
}
.comment-text{
    line-height: 1.3;
}